* {
  box-sizing: border-box;
}

  /* :focus {      // why use this?
  } */

body {
  background: linear-gradient(90deg, rgba(29,253,155,1) 0%, rgba(69,148,252,1) 100%);
  display: flex;
  justify-content: center;
}

input {
  background: transparent;
  border-width: 1px;
  /* color: white;         why doesnt this change placeholder text color? */
  }

.search-container {
  position: relative;
  top: 10rem;
}

  /* .search-container input, .search-container .suggestions {
  } */

  /* .search-container input {
  } */

  /* .search-container .suggestions {      // what would this change different to ul?
  } */

ul {
  display: block;
  margin: 0;
  padding: 0;
}

  /* ul.has-suggestions {
    display: block;
  } */

ul li {
  display: block;
  border: 1px black solid;
  opacity: .5;
}
ul li:hover {
  cursor: pointer;
  opacity: 1;
  background-color: hsl(184, 80%, 59%);
}